<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.chemical.mapper.SupplierMapper">
    <resultMap id="supplier" type="Supplier">
        <id property="gid" column="gid"/>
    </resultMap>
    <select id="mySelectPage" parameterType="SupplierSelectVo" resultType="supplier">
        <if test="condition.name!=null and condition.name!=''">
            <bind name="Name" value="'%'+condition.name+'%'"></bind>
        </if>
      select * from supplier
      <where>
          <if test="condition.name !=null and condition.name!=''">
              and name like #{Name}
          </if>
          <if test="condition.userId !=null and condition.userId != ''">
          and user_id = #{condition.userId}
      </if>
      </where>
    </select>
</mapper>